
Game-SFX-Generator/Builds/VisualStudio2017/.vs/Game-SFX-Generator/v16/.suo
Game-SFX-Generator/Builds/VisualStudio2017/.vs/Game-SFX-Generator/v16/Browse.VC.db
Game-SFX-Generator/Builds/VisualStudio2017/.vs/Game-SFX-Generator/v16/ipch/AutoPCH/cdd07cd8e6b344b8/PLUGINEDITOR.ipch
Game-SFX-Generator/Builds/VisualStudio2017/.vs/Game-SFX-Generator/v16/Solution.VC.db
Game-SFX-Generator/Builds/VisualStudio2017/Game-SFX-Generator.sln
Game-SFX-Generator/Builds/VisualStudio2017/Game-SFX-Generator_SharedCode.vcxproj
Game-SFX-Generator/Builds/VisualStudio2017/Game-SFX-Generator_SharedCode.vcxproj.filters
Game-SFX-Generator/Builds/VisualStudio2017/Game-SFX-Generator_StandalonePlugin.vcxproj
Game-SFX-Generator/Builds/VisualStudio2017/Game-SFX-Generator_StandalonePlugin.vcxproj.filters
Game-SFX-Generator/Builds/VisualStudio2017/Game-SFX-Generator_VST3.vcxproj
Game-SFX-Generator/Builds/VisualStudio2017/Game-SFX-Generator_VST3.vcxproj.filters
Game-SFX-Generator/Builds/VisualStudio2017/resources.rc
Game-SFX-Generator/Builds/VisualStudio2019/.vs/Game-SFX-Generator/v16/.suo
Game-SFX-Generator/Builds/VisualStudio2019/.vs/Game-SFX-Generator/v16/Browse.VC.db
Game-SFX-Generator/Builds/VisualStudio2019/.vs/Game-SFX-Generator/v16/ipch/AutoPCH/956eb874afb99756/PLUGINEDITOR.ipch
Game-SFX-Generator/Builds/VisualStudio2019/.vs/Game-SFX-Generator/v16/Solution.VC.db
Game-SFX-Generator/Builds/VisualStudio2019/Game-SFX-Generator.sln
Game-SFX-Generator/Builds/VisualStudio2019/Game-SFX-Generator_SharedCode.vcxproj
Game-SFX-Generator/Builds/VisualStudio2019/Game-SFX-Generator_SharedCode.vcxproj.filters
Game-SFX-Generator/Builds/VisualStudio2019/Game-SFX-Generator_StandalonePlugin.vcxproj
Game-SFX-Generator/Builds/VisualStudio2019/Game-SFX-Generator_StandalonePlugin.vcxproj.filters
Game-SFX-Generator/Builds/VisualStudio2019/Game-SFX-Generator_VST3.vcxproj
Game-SFX-Generator/Builds/VisualStudio2019/Game-SFX-Generator_VST3.vcxproj.filters
Game-SFX-Generator/Builds/VisualStudio2019/resources.rc
Game-SFX-Generator/Game-SFX-Generator.jucer
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_basics.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_basics.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_devices.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_devices.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_formats.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_formats.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_AU.r
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_RTAS.r
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_1.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_2.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_3.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_4.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_processors.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_processors.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_utils.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_audio_utils.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_core.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_core.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_data_structures.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_data_structures.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_dsp.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_dsp.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_events.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_events.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_graphics.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_graphics.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_gui_basics.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_gui_basics.mm
Game-SFX-Generator/JuceLibraryCode/include_juce_gui_extra.cpp
Game-SFX-Generator/JuceLibraryCode/include_juce_gui_extra.mm
Game-SFX-Generator/JuceLibraryCode/JuceHeader.h
Game-SFX-Generator/JuceLibraryCode/JucePluginDefines.h
Game-SFX-Generator/JuceLibraryCode/ReadMe.txt
